.toggle-switch {
  position: relative;
  width: 56px;
  height: 28px;
  background-color: white;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0d0d0;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #000;
  border-radius: 50%;
  transition: transform 0.3s ease;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.toggle-switch input:checked + .slider {
  transform: translate(28px, -50%);
}
.labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 14px;
}

.label {
  position: relative;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: all;
}

.label.active {
  color: #fff;
}

.toggle-switch input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
}
