.item-card {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.item-card:hover {
  transform: scale(1.05);
}

.item-card__image {
  width: 328px;
  height: 328px;
  object-fit: cover;
  border-radius: 10px;
}

.item-card__name {
  margin-top: 10px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #000;
}
