.weather-card {
  position: relative;
  width: 100%;
  max-width: 1360px;
  margin: 28px auto 40px;
  display: flex;
  height: 80px;
  align-items: center;
  border-radius: 12px;
  box-sizing: border-box;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: "Cabinet Grotesk", sans-serif;
  transition: background-image 0.3s ease;
  aspect-ratio: 6 / 1;
}

.weather-card__temp {
  position: absolute;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin: 0;
  padding: 20px 0px 20px 16px;
}

.weather-card--clouds-day {
  background-image: url("/se_project_react/weather/cloudy-day.jpg");
}

.weather-card--clouds-night {
  background-image: url("/se_project_react/weather/cloudy-night.jpg");
}

.weather-card--rain-day {
  background-image: url("/se_project_react/weather/rain-day.jpg");
}

.weather-card--rain-night {
  background-image: url("/se_project_react/weather/rain-night.jpg");
}

.weather-card--snow-day {
  background-image: url("/se_project_react/weather/snow-day.jpg");
}

.weather-card--snow-night {
  background-image: url("/se_project_react/weather/snow-night.jpg");
}

.weather-card--clear-day {
  background-image: url("/se_project_react/weather/sunny-day.jpg");
}

.weather-card--clear-night {
  background-image: url("/se_project_react/weather/sunny-night.jpg");
}

.weather-card--fog-day {
  background-image: url("/se_project_react/weather/fog-day.jpg");
}

.weather-card--fog-night {
  background-image: url("/se_project_react/weather/fog-night.jpg");
}

.weather-card--thunderstorm-day {
  background-image: url("/se_project_react/weather/storm-day.jpg");
}

.weather-card--thunderstorm-night {
  background-image: url("/se_project_react/weather/storm-night.jpg");
}
