.main {
  width: 100%;
  max-width: 1360px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex: 1;
}

.main__text {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0px 0px 34px 0;
}
.main__clothing-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin: 0;
}
