.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Cabinet Grotesk", sans-serif;
  box-sizing: border-box;
  width: 100%;
}
.footer__text,
.footer__year {
  margin: 0;
}
